* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #000;
}

html {
    scroll-behavior: smooth;
}

/* ==== LINKS ==== */

/* ==== NAV ==== */

/* NAVBAR */

#navbar {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    list-style-type: none;
    overflow: hidden;
}

.navbar-items ul,
a {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: #fff;
    margin: 10px;
}


#navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


/* DROP_MENU */

.drop_menu {
    display: none;
    position: absolute;
    right: 1rem;
    top: 115px;
    height: 0;
    width: 300px;
    background: #22262fa2;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop_menu.open {
    height: auto;
}

.drop_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop_menu .action_button {
    width: 100%;
    display: flex;
    justify-content: center;
}
